.rate {
  display:flex;
}

tr[class="read"] {
  background-image: linear-gradient(lightgreen, green);
}

tr[class="to-read"] {
  background-image: linear-gradient(lightgray, gray);
}

tr[class="in-progress"] {
  background-image: linear-gradient(lightyellow, yellow);
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
    border: 1px solid rgb(29,201,29);
    background-image: linear-gradient(to top, rgb(37,224,37), rgb(138,232,138));
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    }

tr[class="read"] span[class="status"] {
    border: 1px solid green;
    background-image: linear-gradient(to top, lightgreen, green);
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    }

tr[class="read"] span[class="status"] {
    border: 1px solid rgb(29,201,29);
    background-image: linear-gradient(to top, rgb(37,224,37), rgb(138,232,138));
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    }

tr[class="in-progress"] span[class="status"] {
    border: 1px solid rgb(29,201,29);
    background-image: linear-gradient(to top, rgb(37,224,37), rgb(138,232,138));
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    }

    span[class="status"], span[class^="rate"] {
    height: 80%;
    width: 80%;
    padding: 5px;
    }

    span[class^="rate"] > span {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 2px;
    height: 10px;
    width: 10px;
    background-color: whitesmoke;
    }

    span[class~="one"] :nth-child(1) {
    background-image: linear-gradient(to top, rgb(255,214,7), rgb(255,227,90));
    } 

    span[class~="two"] :nth-child(-n+2){
      background-image: linear-gradient(to top, rgb(255,214,7), rgb(255,227,90));
    } 

    span[class~="three"] :nth-child(-n+3){  
      background-image: linear-gradient(to top, rgb(255,214,7), rgb(255,227,90));  
    }
